rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {

    // Users profiles & VIP metrics collection Match Block
    match /users/{userId} {
      allow read, write: if true;
    }

    // Digital Heritage Vault Certificates Match Block
    match /certificates/{certificateId} {
      allow read, write: if true;
    }

    // Products collection Match Block
    match /products/{productId} {
      allow read, write: if true;
    }

    // Blogs collection Match Block
    match /blogs/{blogId} {
      allow read, write: if true;
    }

    // Orders collection Match Block
    match /orders/{orderId} {
      allow read, write: if true;
    }

    // Customers collection Match Block
    match /customers/{customerId} {
      allow read, write: if true;
    }

    // Collections Match Block
    match /collections/{collectionId} {
      allow read, write: if true;
    }

    // Settings Match Block
    match /settings/{settingId} {
      allow read, write: if true;
    }

    // Connection testing
    match /test/{docId} {
      allow read, write: if true;
    }

    // Default fallback
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
